<div class="footer-container">
    <div class="contact-info">
        <h3>Contacto</h3>
        <p>Correo electrónico: info@example.com</p>
        <p>Teléfono: (123) 456-7890</p>
    </div>
    <div class="social-media">
        <h3>Redes Sociales</h3>
        <ul>
            <li><a href="https://www.facebook.com/ejemplo" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com/ejemplo" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com/ejemplo" target="_blank">Instagram</a></li>
            <!-- Agrega más enlaces a otras redes sociales si es necesario -->
        </ul>
    </div>
</div>