.toolbar {
    height: 100px;
    background-color: #333; /* Color de fondo del footer */
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    display: flex;
}

.toolbar h1 {
    text-shadow: 2px 2px 4px rgba(0, 255, 255, 0.564);
    color: rgb(0, 255, 255);
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}

.logo label {
    text-shadow: 2px 2px 4px rgba(0, 255, 255, 0.564);
    color: rgb(0, 255, 255);    
    font-size: 16px;
}


