.toolbar {
    height: 100px;
    background-color: rgba(194, 185, 185, 0.7);
    border-bottom: 1px solid black;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    display: flex;
}

.toolbar h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}

.logo label {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}


