/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    // background-image: url(https://dynl.mktgcdn.com/p/JFIIxaAxTyLNcQwqHcB0Z6zoAVO58goex_u7Yf5AW5A/2880x1108.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
}